# Environment variables & secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Databases & local storage
*.db
*.sqlite
*.sqlite3

# Pytest / Cache
.pytest_cache/
.coverage
htmlcov/
